html{
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    
}

*::after, *::before{
    box-sizing: inherit;
}

button{
    border-radius: 10px;
}

.boton{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

body{
    background-color: (#F8F8F8);
}


.navegacion{
    display: flex;
    gap: 10px;
    align-items: center;
}



/* Hover de nav */

a{
    position: relative;
    display: inline;
    
}
a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: black;
    bottom: -5px;
    transform: scaleX(0);
    left: 0;
     transform-origin: right;
     transition: transform 0.4s ease-out;

    }

a:hover::after {
    transform: scaleX(1); 
    transform-origin: left;
}
